/* -------------------------------------------------------------------------- */
/*                                 common css start                                */
/* -------------------------------------------------------------------------- */
:root{
    --header-bg-color:#562EFF;
    --main-content-bgcolor:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:#E5E5E5;
}

.wrapper{
    max-width: 54.375rem; 
    margin: 0 auto;
}

/* ----------------------------- common css end ----------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 header part                                */
/* -------------------------------------------------------------------------- */
header{
    background-color: var(--header-bg-color);
    height: 5.875rem;
    position: sticky;
    top: 0;
    z-index: 222;
}
.flex-item{
    display: flex;
    justify-content: space-between;
    height: 5.875rem;
}
.logo{
    display: flex;
    
}
.logo-img img{
    width: 2.526rem;
    height: 3.188rem;
    color: #fff;
    margin-top: 1.875rem;
    margin-bottom: 1.438rem;
}
.logo-text{
    color: #fff;
    margin-top: 2.188rem;
    margin-left: 0.988rem;
    font-size: 1.5rem;
}
.nav-bar{
    display: flex;
    align-items: center;
}
.nav-bar img{
    width: 51px;
    height: 51px;
}
.nav-bar ul{
    display: flex;
    list-style-type: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 2.25rem;
}

/* -------------------------------------------------------------------------- */
/*                               content section                              */
/* -------------------------------------------------------------------------- */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1.875rem;
    grid-row-gap: 1.875rem;
}
.player img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.313rem;
}
 .top-section span{
    color: var(--header-bg-color);
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 1.875rem;
    margin-top: 2.063rem;
    margin-bottom:2.5rem;
}

.top-section{
    background-color: var(--main-content-bgcolor);
    height: 42.5rem;
    margin-top: 2.375rem;
    border-radius: 0.313rem;
}
.player{
    display: flex; 
    align-items:center;
}
.player h3{
   margin-left: 0.313rem;
   font-size: 1.125rem;
}
hr{
    margin-top: 1.875rem;
    border: 1px solid #D1D1D1;
    width: 50.438rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------------------------------- */
/*                                blog-section                                */
/* -------------------------------------------------------------------------- */

.blog-section{
    margin-left: 1.875rem;
    margin-right: 3.438rem;
}
.blog-section span{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 0rem;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.625rem;
    grid-column-gap: 4.938rem;
}
.blog{
    display: flex;

}
.blog img{
    width: 7.313rem;
    height: 7.313rem;
}
.article-text{
    margin-left: 1rem;
}
.article-text h3{
    font-size: 1.25rem;
    line-height: 2.125rem;
}
.article-text p > a{
    color: var(--header-bg-color);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
.article-text p{
    color: gray;
    font-size: 1rem;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                               course-section                               */
/* -------------------------------------------------------------------------- */

.course-section{
    background-color: var(--main-content-bgcolor);
    margin-top: 1.131rem;
    border-radius: 0.313rem;
    height: 22.625rem;
    
    
}
.course-section span{
    color: var(--header-bg-color);
    display: inline-block;
    margin-top: 1.438rem;
    margin-left: 1.875rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.875rem;
    
}
.course{
   
    height: 16.862rem;
    width: 15.776rem;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    padding: 0.313rem;
    margin-right: 1.25rem;
}

.course h3{
    font-size: 1.252rem;
    margin-top: 1rem;
    margin-bottom:0.448rem;
}
.course p{
    font-size: 0.918rem;
    color: #ED6B4F;
    margin-bottom: 0.869rem;
}
.course img{
    width: 14rem;
    height: 6.5rem;
}
.rating-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star span{
    font-size: 0.75rem;
    margin: 0;
}
.fill{
    color: #FFC014;
    
}
.non-fill{
    color: #AEAEAE;
}
.time{
    width: 5.927rem;
    height: 1.836rem;
    border-radius: 0.918rem;
    background: #FFE4E8;
}
.time span {
    color: #FF4A60;
    font-weight: 600;
    font-size: 0.918rem;
    margin-top: 0.313rem;
    margin-bottom: 0;
    margin-left: 0.438rem;
}
.time span .fa-clock{
    margin-right: 0.339rem;
}
span.reating-pint-color {
    color: #AEAEAE;
    font-size: 0.918rem;
}

/* -------------------------------------------------------------------------- */
/*                               footer section                               */
/* -------------------------------------------------------------------------- */

footer{
    text-align: center;
    background-color:var(--header-bg-color);
    height: 9.375rem;
    margin-top: 1.25rem;
}
footer h1.cng-clr{
    color: #fff;
    padding: 1.875rem;
}
footer p{
    font-weight: 600;
}
footer p span{
    color: #fff;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                                    media                                   */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width:688px) {
    .wrapper{
        max-width: 100%;
    }
    header{
        display: none;
    }

    .players{
        grid-template-columns: repeat(2,1fr);
        margin-left: 0.938rem;
        grid-column-gap: 0.313rem;
    }
    hr{
        width: 20.438rem;
    }

    .blog-section{
        margin-right: 0;
    }
    .top-section{
        height: 64.5rem;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .courses{
        flex-direction: column;
        margin-left: 0px;
    }
    .course{
        margin-top: 0.938rem;
    }
    .course img{
        width: 100%;
    }
    .course-section{
        height: 60.625rem;
}
    footer{
        height: 10.375rem;
    }

    }
}
